type hal_broadcastradio_dmhd1000, domain;
hal_server_domain(hal_broadcastradio_dmhd1000, hal_broadcastradio)

type hal_broadcastradio_dmhd1000_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_broadcastradio_dmhd1000)
